body , root {
  margin: 0;
  padding:0;
  width: 100vw;
  height: 100vh;
}
.body {
  background-image: url(../img/video.gif);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  text-align: center;
  position: relative; 
}

.slogan {
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
  padding-top: 6rem; 
  color: #445944;
  text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.043);
}
.login-form {
  background-color: rgba(255, 255, 255, 0.809);
  padding: 2.5rem;
  border-radius: 1rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 30rem;
  margin-top: 4rem;
  display: block;
  margin-right: 40%;
}

.login-title {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
  font-size: 1.8rem;
}

.login-input {
  width: 90%;
  padding: 0.7rem 1rem;
  margin: 0.75rem 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
   position: inherit;
}

.login-input:focus {
  border-color: #007bff;
  outline: none;
}

.login-button {
  width: 100%;
  padding: 0.7rem;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}

.login-button:hover {
  background-color: #057af7;
}

@media screen and (max-width : 1200px) {
    .login-form {
      margin-top: 2rem;
      margin-right: 25%;
    }
    .slogan {
      margin-right: 18%;
    }
}
@media screen and (max-width : 950px) {
    .login-form {
      margin-top: 3rem;
      margin-right: unset;
    }
    .slogan {
      font-size: 2rem;
      margin-right: unset;
    }
}